* {
    margin: 0;
    padding: 0;
    color: #afeafd;
    font-family: 'Tourney', Verdana, Geneva, Tahoma, sans-serif;
}

html {

    background-color: black;
}

@font-face {
    font-family: 'Tourney';
    src: url('Tourney/static/Tourney-ThinItalic.ttf')format('truetype');
}

@font-face {
    font-family: 'Tourney-Bold';
    src: url(/Tourney/static/Tourney_Condensed-Bold.ttf);
}

/* this gives all images a border radius styling */
img {
    border-radius: 50px;
}

/* this takes off the hyperlink aesthic on the nav bar while also giving space in between the links */
.navbar a {
    text-decoration: none;
    color: #afeafd;
    list-style: none;
    display: inline-block;
}

/* this puts the nav bar in a row */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(0, 5vh);
}

/* this moves the logo on the left side of the page to the left */
#motion-logo {
    position: absolute;
    left: 150px;
}

/* this moves the nav links on the right side of the page to the right */
#links {
    position: absolute;
    right: 150px;
}

/* this is for the About us header */
main h2 {
    position: relative;
    margin: 10% 5%;
    left: 38%;
    top: 40vh;
}

main form {
    display: flex;
    flex-direction: column;
    margin: 30% 25%;
}

form label,
input,
textarea {
    margin: 10px 0px;
}

input #name,
#email,
#message {
    font-family: 'Tourney-Bold';
    color: black;
    font-size: 20px;
}

/* this is for the shop now button */
#submit {
    background-color: #f0403d;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Tourney-Bold';
}

/* this is for the footer links, it aligns them all in one row */
footer p {
    display: inline-block;
}