* {
    margin: 0;
    padding: 0;
    color: #afeafd;
    font-family: 'Tourney', Verdana, Geneva, Tahoma, sans-serif;
}

html {

    background-color: black;
}

@font-face {
    font-family: 'Tourney';
    src: url('Tourney/static/Tourney-ThinItalic.ttf')format('truetype');
}

@font-face {
    font-family: 'Tourney-Bold';
    src: url(/Tourney/static/Tourney_Condensed-Bold.ttf);
}

/* this gives all images a border radius styling */
img {
    border-radius: 50px;
}

/* this takes off the hyperlink aesthic on the nav bar while also giving space in between the links */
.navbar a {
    text-decoration: none;
    color: #afeafd;
    list-style: none;
    display: inline-block;
}

/* this puts the nav bar in a row */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(0, 5vh);
}

/* this moves the logo on the left side of the page to the left */
#motion-logo {
    position: absolute;
    left: 150px;
}

/* this moves the nav links on the right side of the page to the right */
#links {
    position: absolute;
    right: 150px;
}

/* this is for the product header */
section h2 {
    position: relative;
    /* margin: 10% 5%; */
    /* left: 36%; */
    text-align: center;
    top: 20vh;
    font-size: 60px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(3, 400px);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 5px;
    /* margin-bottom: 50px; */
}

#products img {
    height: 240px;
    width: 350px;
}

#cameraName {
    font-size: 20px;
    /* margin-bottom: 10px; */
    font-family: 'Tourney-Bold';
}

#description {
    font-size: 15px;
    font-family: 'Tourney-Bold';
    /* margin-bottom: 5px; */
}

#description2 {
    font-size: 15px;
    font-family: 'Tourney-Bold';
    /* margin-bottom: 5px; */
}

#description3 {
    font-size: 15px;
    font-family: 'Tourney-Bold';
    /* margin-bottom: 5px; */
}

#price {
    font-size: 20px;
}

footer p {
    display: inline-block;
}

@media screen and (min-width: 375px) and (max-width: 425px),
(max-width: 500px) {
    .products-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    section h2 {
        position: relative;
        text-align: center;
        margin: 10% 5%;
        left: 5%;
        top: 20vh;
        font-size: 60px;
    }

    #products img {
        height: 240px;
        width: 250px;
    }

    #products {
        margin: 140px 20%;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .products-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        position: relative;
        left: 10%;
    }

    section h2 {
        position: relative;
        font-size: 60px;
        text-align: center;
    }

    #products img {
        height: 240px;
        width: 350px;
    }

    #products {
        margin: 180px 10%;
        position: relative;
        align-items: center;
    }
}