* {
    margin: 0;
    padding: 0;
    color: #afeafd;
    font-family: 'Tourney', Verdana, Geneva, Tahoma, sans-serif;
}

/* sets the background for the entire page */
html {
    background-color: black;
}

/* this is the thin italic font */
@font-face {
    font-family: 'Tourney';
    src: url('Tourney/static/Tourney-ThinItalic.ttf')format('truetype');
}

/* this is the bold font */
@font-face {
    font-family: 'Tourney-Bold';
    src: url(/Tourney/static/Tourney_Condensed-Bold.ttf);
}

/* this gives all images a border radius styling */
img {
    border-radius: 50px;
}

/* this takes off the hyperlink aesthic on the nav bar while also giving space in between the links */
.navbar a {
    text-decoration: none;
    color: #afeafd;
    list-style: none;
    display: inline-block;
    font-size: 25px;
}

/* this puts the nav bar in a row */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(0, 5vh);
}

/* this moves the logo on the left side of the page to the left */
#motion-logo {
    position: absolute;
    left: 150px;
}

/* this moves the nav links on the right side of the page to the right */
#links {
    position: absolute;
    right: 150px;
}

/* this is for the product header */
section h2 {
    position: relative;
    text-align: center;
    font-size: 60px;
}

/* this targets the div in the products.html file. It sets the grid for the products */
.products-container {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(3, 400px);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 5px;
    margin-top: 500px;
    margin-bottom: 100px;
}

/* this puts a margin around each product */
.item {
    margin: 30px;
}

/* this is for the Products header. It centers it while pushing it down from the nav bar */
#product-head {
    position: relative;
    text-align: center;
    top: 30vh;
}

/* this sets the size for every product image */
#products img {
    height: 240px;
    width: 350px;
}

/* this sets the font and font size for every product name */
#cameraName {
    font-size: 25px;
    font-family: 'Tourney-Bold';
}

/* this sets the font and font size for the first sentence description */
#description {
    font-size: 12px;
    font-family: 'Tourney-Bold';
}

/* this sets the font and font size for the first sentence description */
#description2 {
    font-size: 12px;
    font-family: 'Tourney-Bold';
}

/* this sets the font and font size for the first sentence description */
#description3 {
    font-size: 12px;
    font-family: 'Tourney-Bold';
}

/* this sets the font size for all the prices */
#price {
    font-size: 30px;
}

/* this sets the font size and display for all the footer links */
footer p {
    display: inline-block;
    font-size: 25px;
}

/* this takes off that underline hyperlink for the privacy pages link */
footer a {
    text-decoration: none;
}

@media screen and (min-width: 375px) and (max-width: 425px),
(max-width: 500px) {

    .navbar a {
        display: block;
    }

    /* this targets the div in the products.html file. It sets the grid for the products */
    .products-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    /* this is for the Products header. It centers it while pushing it down from the nav bar */
    #product-head {
        position: relative;
        text-align: center;
        margin: 10% 5%;
        left: 5%;
        top: 20vh;
        font-size: 60px;
    }

    /* this sets the size for every product image */
    #products img {
        height: 240px;
        width: 250px;
    }

    /* this sets spacing for all the products so they'd be in one straight line going down the screen */
    #products {
        margin: 140px 20%;
    }

    /* this sets the font size and display for all the footer links */
    footer p {
        display: inline-block;
        font-size: 15px;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {

    .navbar a {
        display: block;
    }


    /* this targets the div in the products.html file. It sets the grid for the products */
    .products-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        position: relative;
        left: 10%;
    }

    /* this is for the Products header. It centers it while pushing it down from the nav bar */
    #product-head {
        position: relative;
        font-size: 60px;
        text-align: center;
    }

    /* this sets the size for every product image */
    #products img {
        height: 240px;
        width: 350px;
    }

    /* this sets spacing for all the products so they'd be in one straight line going down the screen */
    #products {
        margin: 240px 18%;
        display: block;
    }
}