* {
    margin: 0;
    padding: 0;
    color: #afeafd;
    font-family: 'Tourney', Verdana, Geneva, Tahoma, sans-serif;
}

html {

    background-color: black;
}

@font-face {
    font-family: 'Tourney';
    src: url('Tourney/static/Tourney-ThinItalic.ttf')format('truetype');
}

@font-face {
    font-family: 'Tourney-Bold';
    src: url(/Tourney/static/Tourney_Condensed-Bold.ttf);
}

/* this gives all images a border radius styling */
img {
    border-radius: 50px;
}

h2 {
    font-size: 80px;
}

h5 {
    font-family: 'Tourney-Bold', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

/* this takes off the hyperlink aesthic on the nav bar while also giving space in between the links */
.navbar a {
    text-decoration: none;
    color: #afeafd;
    list-style: none;
    display: inline-block;
}

/* this puts the nav bar in a row */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(0, 5vh);
}

/* background color for the hero section. will replace with video soon */
.hero-background {
    min-height: 95vh;
    width: 100%;
    background-color: black;
}

.hero-header {
    position: absolute;
    top: 55%;
    left: 14%;
    /* transform: translate(-50%, -50%); */
    text-align: left;
}

/* Shoot your films with better quality */
.hero-header h2 {
    margin-bottom: 2%;
}

/* get cameras at half the price */
.hero-header h5 {
    margin-bottom: 2%;
}

/* this moves the logo on the left side of the page to the left */
#motion-logo {
    position: absolute;
    left: 150px;

}

/* this moves the nav links on the right side of the page to the right */
#links {
    position: absolute;
    right: 150px;
}

/* this is for the shop now button */
.shop-now {
    background-color: #f0403d;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Tourney-Bold';
}

.about-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* this is for the image in the about us page */
.about-us img {
    height: 100%;
    width: 100%;
}

/* this is for the About us header */
.about-us h2 {
    position: relative;
    margin: 10% 5%;
    right: 25%;
}

/* this is the paragraph within the photo of the about us section */
.about-us p {
    padding: 0 20%;
    position: relative;
    bottom: 30vh;
    left: 30%;
    font-family: 'Tourney', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.gallery h2 {
    position: relative;
    margin: 10% 15%;
}

/* this is for the photo carousel*/
.carousel-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel-container img {
    width: 30%;
    height: 30%;
}

.photo-item img {
    width: 80%;
    height: 65%;
}

/* this helps size down the third photo. what's also happening is since this id is a child of the class photo-item, 80% means it's decreasing it self from the size perecentage that was set under the .photo-item class above */
#biggest-photo {
    width: 100%;
    height: 100%;
}

/* this is for the footer links, it aligns them all in one row */
footer p {
    display: inline-block;
}

/* screen size for cell phone screens */
@media screen and (min-width: 375px) and (max-width: 425px),
(max-width: 500px) {
    .hero-background iframe {
        width: 100%;
        position: absolute;
    }

    /* Shoot your films with better quality */
    .hero-header h2 {
        margin-bottom: 2%;
        font-size: 50px;
    }

    /* get cameras at half the price */
    .hero-header h5 {
        margin-bottom: 2%;
        font-size: 20px;
    }

    /* this is for the About us header */
    .about-us h2 {
        position: relative;
        margin-top: 40vh;
        font-size: 50px;
    }

    /* this is the paragraph within the photo of the about us section */
    .about-us p {
        font-size: 20px;
        padding: 0 20%;
        position: relative;
        margin-top: 40vh;
        padding: 1px;
        /* left: 30%; */

    }

    /* this is for the image in the about us page */
    .about-us img {
        height: 300%;
        width: 150%;
        position: relative;
        right: 20%;
    }

    .gallery {
        margin: 0;
    }

    .gallery h2 {
        position: relative;
        font-size: 50px;
    }

    /* this is for the photo carousel*/
    .carousel-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

/* tablet screen size */
@media screen and (min-width: 501px) and (max-width: 768px) {
    .hero-background iframe {
        width: 100%;
        position: absolute;
    }

    /* Shoot your films with better quality */
    .hero-header h2 {
        margin-bottom: 2%;
        font-size: 50px;
    }

    /* get cameras at half the price */
    .hero-header h5 {
        margin-bottom: 2%;
        font-size: 20px;
    }

    /* this is for the About us header */
    .about-us h2 {
        position: relative;
        margin-top: 40vh;
        font-size: 50px;
    }

    /* this is the paragraph within the photo of the about us section */
    .about-us p {
        font-size: 20px;
        padding: 0 20%;
        position: relative;
        margin-top: 40vh;
        padding: 1px;
        /* left: 30%; */

    }

    /* this is for the image in the about us page */
    .about-us img {
        height: 300%;
        width: 150%;
        position: relative;
        right: 20%;
    }

    .gallery {
        margin: 0;
    }

    .gallery h2 {
        position: relative;
        font-size: 50px;
    }

    /* this is for the photo carousel*/
    .carousel-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}